Title: About Me
TranslatedRefs: it/info.cshtml
---
<div class="row">
    <div class="col-md-2 text-center" style="float: right">
        <img class="about-img" style="border-radius: 10%;" src="/assets/images/profile_mvp.jpg" alt="Gianni Rosa Gallina" title="Gianni Rosa Gallina" />
    </div>
    <div class="col-md-10">
        <p><strong>Gianni Rosa Gallina</strong> is an Italian <em>MSc Information Technology Engineer</em>. Currently he is <strong>R&amp;D Senior Software Engineer</strong> in <strong><a href="http://www.deltatre.com" target="_blank">Deltatre's Innovation Lab</a></strong>, world leader in multimedia services for sport business and broadcasting, focusing on <strong>AI, Virtual/Augmented/Mixed Reality and other amazing emerging technologies</strong>, experimenting and prototyping next generation multimedia sport experiences.</p>
        <p>He is a <a href="https://www.pluralsight.com/authors/gianni-rosagallina" target="_blank"><strong>Pluralsight Author</strong></a> since 2013 and graduated <em>MSc Information Technology Engineer</em> at the <strong>Polytechnic of Turin</strong> in 2009.</p>
        <p>He has more than 10 years of experience in <strong>Microsoft technologies</strong>. He worked as <em>Software Architect and Consultant</em> for <strong><a href="http://www.bepseng.it" target="_blank">BEPS Engineering</a></strong> from 2007 to 2017, and since 2014 tried to change the Virtual Reality world with his startup <a href="http://www.immotionar.com" target="_blank"><strong>Immotionar</strong></a>, building an amazing cross-platform, easy to use solution (<em>ImmotionRoom</em>) to move naturally inside virtual worlds, with full-body interactions. The dreams ended in early 2017, but his innovative visions are more alive than ever.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <img class="about-img" style="margi-top: 0px; margin-right: 20px;" src="/assets/images/ms-mvp-logo.png" alt="Microsoft Most Valuable Professional"  />
    </div>
    <div class="col-md-8">
        <p>Since 2011 he has been awarded <strong>Microsoft MVP</strong> in the <strong>Windows Development</strong> category (previously <strong>Embedded/IoT</strong>) and, this year, double awarded in <strong>AI category</strong>. In 2011 he won the second prize at the international hobbyist competition <em>Microsoft Embedded Spark</em>.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <p>He owns a number of certifications, acquired in the past years:</p>
        <p><strong>Microsoft Certified Azure AI Engineer Associate</strong></p>
        <p><strong>Unity 3D Certified Programmer</strong></p>
        <p><strong>App Builder</strong> <em>Microsoft Certified Solutions Developer</em>:</p>
        <ul>
            <li><strong>Windows Store Apps using C#</strong></li>
            <li><strong>Web Applications</strong></li>
        </ul>
        <p><em>Microsoft Specialist</em> in:</p>
        <ul>
            <li><strong>Programming in C#</strong></li>
            <li><strong>Programming in HTML5 with JavaScript and CSS3<br /></strong></li>
        </ul>
        <p><em>Microsoft Certified Technology Specialist</em> for:</p>
        <ul>
            <li><strong>Windows Embedded CE 6.0</strong></li>
            <li><strong>Windows Mobile 6.5</strong></li>
            <li><strong>Windows Embedded Standard 7</strong></li>
            <li><strong>.NET Framework 4 Applications</strong></li>
        </ul>
    </div>
    <div class="col-md-5 text-center" style="float: right;">
        <img class="about-img" src="/assets/images/ms-cert-azure-ai-engineer.png" alt="Microsoft Certified Azure AI Engineer Associate" title="Microsoft Certified Azure AI Engineer" />
        <img class="about-img" src="/assets/images/unity-certified-programmer.png" alt="Unity Certified Programmer" title="Unity Certified Programmer" /><br />
        <img class="about-img" src="/assets/images/ms-cert-mcsd-app-builder.png" alt="Microsoft Certified Solutions Developer" title="Microsoft Certified Solutions Developer" />
        <img class="about-img" src="/assets/images/ms-cert-mcsa-web.png" alt="Microsoft Certified Solutions Associate" title="Microsoft Certified Solutions Associate" />
        <img class="about-img" src="/assets/images/ms-cert-specialist.png" alt="Microsoft Specialist" title="Microsoft Specialist" />
        <img class="about-img" src="/assets/images/ms-cert-ts.png" alt="Microsoft Certified Technology Specialist" title="Microsoft Certified Technology Specialist" /> 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Beside its focus on cutting-edge technologies, algorithms and devices, he's also hands-on with <strong>Windows Apps</strong> development, cross-platform mobile apps development with <strong>Xamarin</strong> and the cloud, with projects using <strong>Microsoft Azure</strong> services (Functions, Media Services, apps, big data).</p>
        <p>Gianni has been also a <strong>trainer</strong> <em>for Windows Embedded CE 6.0, Windows Embedded Standard 7</em> and <em>Windows Embedded 8 Standard</em>. In addition to official Microsoft courses, he also produced online training courses for Pluralsight about <em>Windows Embedded</em>, <em>Virtual/Augmented Reality</em> and <em>Artificial Intelligence</em>.</p>
        <p>He is an active member of the local technology community <a href="http://www.torinotechnologiesgroup.it/" target="_blank" title="TTG - Torino Technologies Group"><strong>TTG - Torino Technologies Group</strong></a>, he is organizer and trainer for <a href="https://www.coding-gym.org/" target="_blank" title="Coding Gym Torino"><strong>Coding Gym Torino</strong></a> and periodically is a speaker in national and international community events (such as WPC, Community Days, Microsoft Ignite, Droidcon, Codemotion, etc. to name a few).</p>
        <p>Gianni has interests and knowledge that cover almost all IT areas. Especially he has sound programming experiences in <strong>C#</strong>, <strong>C/C++</strong>, <strong>Python</strong> for data-science and machine learning, basic <strong>Java</strong> (Android), basic <strong>Visual Basic</strong> and good web programming with <strong>HTML/CSS</strong>, <strong>JavaScript</strong>, <strong>ASP.NET MVC</strong>.</p>
        <p>His interests vary from web-based programming to computer-graphics, 3D animation and modeling, music and digital processing, networking, design and user experience, film-making and video post-production, photo editing, videogames.</p>
        <p>He likes coding, architecting, thinking from scratch ideas and how to realize them, solving problems (especially if they are difficult or if people thinks they're almost impossible to be solved), designing software and other things, trying and studying the latest technology things and search for new solutions.</p>
        <p>Skills include attitude to own initiative, ability to self-teach and team working. He is ambitious and smart and when he starts something, nothing can't stop him to achieve all the goals and to fit all the requirements. He always want to be up to date about latest technology trends and he's thirsty of knowledge.</p>
        <p>Other interests include general science, natural computer-human interactions, design patterns, maths, philosophy, physics, foreign languages, games, swimming, snowboarding and, above all, spending his free time with his family and children.</p>
    </div>
</div>