Title: Courses
TranslatedRefs: it/corsi.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      Here you can find the online courses I published. If you would like to have more information or give feedback, please drop me an e-mail.
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
      <a href="https://www.pluralsight.com/authors/gianni-rosagallina" target="_blank"><img class="event-img" src="/assets/images/pluralsight_logo.jpg" alt="Check my Pluralsight Author profile" title="Check my Pluralsight Author profile"/></a>
    </div>
</div>

<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">Getting Started with NLP Deep Learning Using PyTorch and fastai</h3>
      <p class="event-meta">Intermediate | 2h 13m | March 21st, 2019</p>
      <p>This course teaches you how to start using fastai library and PyTorch to obtain near-state-of-the-art results with Deep Learning NLP for text classification. It gives you a theoretical background and shows how to take models to production.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/getting-started-nlp-deep-learning-pytorch-fastai" target="_blank">Course details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">Getting Started with VR in Unity (retired)</h3>
      <p class="event-meta">Beginner | 2h 20m | August 18th, 2015</p>
      <p>In this Unity tutorial, we'll learn the fundamentals for building virtual reality games and applications targeted to the Oculus Rift and Samsung Gear VR.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/getting-started-vr-unity-2227" target="_blank">Course details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">Getting Started with Augmented Reality on Android Devices</h3>
      <p class="event-meta">Beginner | 3h 7m | January 13th, 2015</p>
      <p>This course introduces Android developers to Augmented Reality concepts and applications.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/augmented-reality-android-devices-getting-started" target="_blank">Course details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">Building an Intelligent System: From Embedded to Cloud (retired)</h3>
      <p class="event-meta">Intermediate | 2h 30m | May 5th, 2014</p>
      <p>This course is an advanced journey in the developing phases of an Intelligent System, using Windows Embedded 8.1 Industry and Windows Azure.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/building-intelligent-system-embedded-to-cloud" target="_blank">Course details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">What's new in Windows Embedded 8 Standard (retired)</h3>
      <p class="event-meta">Intermediate | 2h 36m | November 11th, 2013</p>
      <p>This course provides an overview about the new features, tools and changes introduced in Windows Embedded 8 Standard, the successor of Windows Embedded Standard 7.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/whats-new-windows-embedded8-standard" target="_blank">Course details</a></div>
    </div>
</div>