Title: Events
TranslatedRefs: it/eventi.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      I like giving talks at local user groups and national and international conferences since 2011.
      You can find upcoming events and archived past events below. If you would like to have me giving a talk at your local community event or conference, please contact me.
    </div>
</div>

<h2>Upcoming</h2>

@*<p>Currently planning new activities... but nothing to announce yet!</p>*@

<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/aiday.png" alt="A.I. Day 2022 Rome (Italy)" title="A.I. Day 2022 Rome (Italy)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Optimizing Deep Learning models: theory, tools & best-practices</div>
      <div class="event-subtitle">A.I. Day 2022</div>
      <p class="event-meta">November 18th, 2022 - Rome (Italy) + Online Streaming</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://aiday.dotnetdev.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/registrazione-ai-day-2022-421783023377" target="_blank">Registration</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=697eaTedmrY" target="_blank">Youtube</a></div>*@
    </div>
</div>

@*<hr />*@

<br />

<h2>Past events and sessions archive</h2>

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-ai-dev-days-2022.jpg" alt="Global AI Developer Days 2022 Torino (Italy)" title="Global AI Developer Days 2022 Torino (Italy)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Developer Days 2022 Torino (Italy)</div>
      <p class="event-meta">October 28th, 2022 - Torino (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/developer-days/europe-global-ai-torino-5492/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-global-ai-developer-days-2022-torino-italy-433465646417" target="_blank">Registration</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=697eaTedmrY" target="_blank">Youtube</a></div>*@
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc2022-logo.jpg" alt="WPC 2022" title="WPC 2022"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">End-to-End Object Detection with Azure ML & ONNX Runtime (in ITALIAN)</div>
      <div class="event-subtitle">WPC 2022</div>
      <p class="event-meta">October 17-19, 2022 - Assago (Milan), Italy</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-wpc-2022-345543137827" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/deltatrelabs/deltatre-wpc-2022-demo" target="_blank">Slides & Code</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Fireside chats webinar series" title="Deltatre Innovation Lab Fireside chats webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Building Tools for the Metaverse with NVIDIA Omniverse</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">October 13th, 2022 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/building-tools-for-the-metaverse-with-nvidia-omniverse-tickets-428679430717" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=YuzRLzxN89A" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Fireside chats webinar series" title="Deltatre Innovation Lab Fireside chats webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Building the Metaverse: getting started with NVIDIA Omniverse</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">September 8th, 2022 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/building-the-metaverse-getting-started-with-nvidia-omniverse-tickets-395914008457" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://youtu.be/pzLnSadgqx0" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Fireside chats webinar series" title="Deltatre Innovation Lab Fireside chats webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Immersive Realities: news and trends</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">July 14th, 2022 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/immersive-realities-news-and-trends-tickets-381683604937" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://youtu.be/-gVKvzhkU7o" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Fireside chats webinar series" title="Deltatre Innovation Lab Fireside chats webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">3D Scanning and Reconstruction</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">July 5th 2022 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-3d-scanning-and-reconstruction-377901332057" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=GzOW5jAA7-0" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/GlobalAzure2022.png" alt="Global Azure 2022 (Italian Edition)" title="Global Azure 2022 (Italian Edition)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Deep Learning with ML.NET</div>
      <div class="event-subtitle">Global Azure 2022 (Italian Edition)</div>
      <p class="event-meta">May 7th, 2022 - Torino, Italy</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalazuretorino.welol.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/deltatrelabs/deltatre-global-azure-torino-2022" target="_blank">Slides & Code</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/netconf-2022.jpg" alt=".NET Conference 2022 (Rome - Online)" title=".NET Conference 2022 (Rome - Online)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Deep Learning with ML.NET</div>
      <div class="event-subtitle">.NET Conference 2022 (Rome - Online)</div>
      <p class="event-meta">March 18th, 2022 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.dotnetconf.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=FIa8Hv7CPWc" target="_blank">Youtube</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/deltatrelabs/deltatre-net-conf-2022-mlnet" target="_blank">Slides & Code</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-ai-2022-header.jpg" alt="Global AI Bootcamp 2022 Torino (Italy)" title="Global AI Bootcamp 2022 Torino (Italy)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Bootcamp 2022 Torino (Italy)</div>
      <p class="event-meta">January 14th, 2022 - Hybrid</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/bootcamp-2022/europe-global-ai-torino-4662/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=697eaTedmrY" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2021.html" class="btn btn-default btn-xs">2021</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2018 and older</a>
    </div>
</div>