Title: Events Archive 2019
TranslatedRefs: it/eventi_archivio_2019.cshtml
ShowInNavbar: false
---
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events.html" class="btn btn-default btn-xs">2022</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2021.html" class="btn btn-default btn-xs">2021</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2018 and older</a>
    </div>
</div>
<br />
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (December 2019)" title="Coding Gym Torino (December 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (December 2019)</div>
        <p class="event-meta">December 16th, 2019 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1219.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Global-AI-Torino-Header_2160x1080.jpg" alt="Global AI Bootcamp Torino" title="Global AI Bootcamp Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Bootcamp Torino</div>
      <div class="event-subtitle"></div>
      <p class="event-meta">December 14th 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.com/e/biglietti-global-ai-bootcamp-2019-torino-75673249727" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc2019.png" alt="WPC 2019" title="WPC 2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Mixed Reality: volumetric capture with Azure Kinect</div>
      <div class="event-subtitle">WPC 2019</div>
      <p class="event-meta">December 3-5th, 2019 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc2019.it/cms/it-IT/Home" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (November 2019)" title="Coding Gym Torino (November 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (November 2019)</div>
        <p class="event-meta">November 26th, 2019 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1119.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Global-MR-Torino-Header_1200x628.jpg" alt="Global Mixed Reality Bootcamp Torino" title="Global Mixed Reality Bootcamp Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global Mixed Reality Bootcamp Torino</div>
      <div class="event-subtitle"></div>
      <p class="event-meta">November 16th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.com/e/biglietti-global-mr-bootcamp-2019-torino-75676118307" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite 2019" title="Microsoft Ignite 2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">THR2050 - Sport actions recognition in video using Deep Learning at scale</div>
      <div class="event-subtitle">Microsoft Ignite 2019</div>
      <p class="event-meta">November 7th, 2019 - Orlando, FL (USA)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/en-us/ignite/default.aspx" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite 2019" title="Microsoft Ignite 2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">THR3001 - Applied Deep Learning: new kind of multimedia content</div>
      <div class="event-subtitle">Microsoft Ignite 2019</div>
      <p class="event-meta">November 4th, 2019 - Orlando, FL (USA)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/en-us/ignite/default.aspx" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (October 2019)" title="Coding Gym Torino (October 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (October 2019)</div>
        <p class="event-meta">October 15th, 2019 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1019.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">.NET Conf 2019 - What's new in .NET Ecosystem</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">October 10th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20191010" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ai-ml-conf-2019_little.jpg" alt="AI & ML Conference" title="AI & ML Conference"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">How to implement a custom Video Indexing service</div>
      <div class="event-subtitle">AI & ML Conference</div>
      <p class="event-meta">September 27th, 2019 - Microsoft House (Milan, Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://aiconf.it/" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Fundamentals and use of IPv6 protocol in Windows environments</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">September 26th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190926" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (September 2019)" title="Coding Gym Torino (September 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (September 2019)</div>
        <p class="event-meta">September 16th, 2019 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0919.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Azure Sphere</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">June 27th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190627" target="_blank">Session details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190627_TTG-Sphere_190627_v1.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ML-MR-Header-EB.jpg" alt="Machine Learning and Mixed Reality" title="Machine Learning and Mixed Reality"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Machine Learning and Mixed Reality</div>
      <div class="event-subtitle">ItaliaDotNet, Torino Technologies Group, DotNetPodcast Meetup</div>
      <p class="event-meta">June 26th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-machine-learning-mixed-reality-62508747346" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (June 2019)" title="Coding Gym Torino (June 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (June 2019)</div>
        <p class="event-meta">June 17th, 2019 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0619.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (May 2019)" title="Coding Gym Torino (May 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (May 2019)</div>
      <p class="event-meta">May 25th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0519.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">What's new in Visual Studio 2019</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">May 23rd, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190523" target="_blank">Session details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190523_VS2019Launch.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/gab2019logo.png" alt="Microsoft Global Azure Bootcamp 2019 Torino" title="Microsoft Global Azure Bootcamp 2019 Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Where and how to use AI in a world-class multimedia OTT platform for sport</div>
      <div class="event-subtitle">Microsoft Global Azure Bootcamp 2019 Torino</div>
      <p class="event-meta">April 27th, 2019 - Torino (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://azurebootcamptorino.welol.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="/assets/files/GAB2019_AI_OTT_20190426_Final.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (March 2019)" title="Coding Gym Torino (March 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (March 2019)</div>
      <p class="event-meta">March 30th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0319.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (February 2019)" title="Coding Gym Torino (February 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (February 2019)</div>
      <p class="event-meta">February 16th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0219.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ignite-tour-milan.jpg" alt="Microsoft Ignite The Tour 2018-2019" title="Microsoft Ignite The Tour 2018-2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Where and how to use AI in a world-class multimedia OTT platform for sport (THR3208)</div>
      <div class="event-subtitle">Microsoft Ignite The Tour 2018-2019</div>
      <p class="event-meta">January 31-February 1, 2019 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/it-IT/ignite-the-tour/milan" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://sessioncatalog.myignitetour.microsoft.com/milan" target="_blank">Sessions</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (January 2019)" title="Coding Gym Torino (January 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (January 2019)</div>
      <p class="event-meta">January 19th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0119.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events.html" class="btn btn-default btn-xs">2022</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2021.html" class="btn btn-default btn-xs">2021</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2018 and older</a>
    </div>
</div>