Title: Events Archive 2020
TranslatedRefs: it/eventi_archivio_2020.cshtml
ShowInNavbar: false
---
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events.html" class="btn btn-default btn-xs">2021</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2018.html" class="btn btn-default btn-xs">2018</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2017 and older</a>
    </div>
</div>
<br />
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dotNetPodcast_logo.jpg" alt="DotNet Podcast" title="DotNet Podcast"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Machine Learning, from experiment to production (in ITALIAN)</div>
      <div class="event-subtitle">DotNet Podcast</div>
      <p class="event-meta">December 14th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.spreaker.com/user/dotnetpodcast/machine-learning-dallesperimento-alla-me" target="_blank">Listen</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/codemotion_2020_deep_learning_at_scale.jpg" alt="Codemotion Online 2020 (Italian Edition)" title="Codemotion Online 2020 (Italian Edition)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Predicting sports actions using Deep Learning at scale</div>
      <div class="event-subtitle">Codemotion Online 2020</div>
      <p class="event-meta">November 24th-26th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://events.codemotion.com/conferences/online/2020/online-tech-conference-italian-edition/" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">The AI Journey: MLOps with Kubeflow (ENGLISH)</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">November 11th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-mlops-with-kubeflow-124073466077" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=Qr1olCVpx8E" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">The AI Journey: MLOps with Kubeflow</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">July 23th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-the-ai-journey-mlops-with-kubeflow-112580308734" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=9iodycOGVws" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Fireside Chats: Not Only Web Development with Blazor</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">July 16th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-fireside-chats-not-only-web-development-with-blazor-112207345190" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=YLRr74RQKGY" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">The AI Journey: Data Science experiments with ML.NET & Jupyter</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">July 14th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-the-ai-journey-data-science-experiments-with-mlnet-jupyter-112985432470" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=JKmPJGDWkqs" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Kubernetes the Deltatre way: Kubernetes CRD & Operators</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">June 22th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-kubernetes-the-deltatre-way-kubernetes-crd-operators-110090704260" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=8YNH1QZGdMM" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Kubernetes the Deltatre way: Kubernetes CI/CD</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">June 15th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-kubernetes-the-deltatre-way-kubernetes-cicd-108540413298" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://youtu.be/5uV0UqOHBDE" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Kubernetes the Deltatre way: Kubernetes advanced topics & Kind</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">June 8th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-kubernetes-the-deltatre-way-kubernetes-advanced-topics-kind-107820664510" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://youtu.be/jhkYvEgNT4A" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Kubernetes the Deltatre way: Kubernetes basics</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">June 3rd, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-kubernetes-the-deltatre-way-kubernetes-basics-106583624490" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://youtu.be/zjuy6wLXsFY" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Kubernetes the Deltatre way: Docker in Action</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">May 25th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-kubernetes-the-deltatre-way-docker-in-action-105934587202" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=b9Qk2LMXs_Y" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Kubernetes the Deltatre way: The basics - Introduction to Containers and Orchestrators</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy - Webinar series</div>
      <p class="event-meta">May 18th, 2020 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-kubernetes-the-deltatre-way-introduction-to-containers-and-orchestrators-105419378198" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=42QRgaOemqM" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/logo_xe.png" alt="XE meetup (April 2020)" title="XE meetup (April 2020)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Intelligenza Artificiale</div>
      <div class="event-subtitle">XE - Online Meeting</div>
      <p class="event-meta">April 17th, 2020</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.xedotnet.org/eventi/xe-online-meeting-intelligenza-artificiale/" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy monthly meetup (April 2020)" title="Deltatre Innovation Lab Academy monthly meetup (April 2020)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Creating SPA in .NET with Blazor and WebAssembly (CANCELLED)</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy monthly meetup</div>
      <p class="event-meta">April 16th, 2020 - OGR Tech - Torino (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-creating-spa-in-net-with-blazor-and-webassembly-92232109723" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy monthly meetup (March 2020)" title="Deltatre Innovation Lab Academy monthly meetup (March 2020)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Introduction to Intel oneAPI and OpenVINO Toolkits (CANCELLED)</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy monthly meetup</div>
      <p class="event-meta">March 4th, 2020 - OGR Tech - Torino (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-introduction-to-intel-oneapi-and-openvino-toolkits-97150970167" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy monthly meetup (February 2020)" title="Deltatre Innovation Lab Academy monthly meetup (February 2020)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Applied Deep Learning: Video Enhancement Techniques - Azure Kinect: Practical Volumetric Video</div>
      <div class="event-subtitle">Deltatre Innovation Lab Academy monthly meetup</div>
      <p class="event-meta">February 10th, 2020 - OGR Tech - Torino (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-applied-deep-learning-video-enhancementazure-kinect-volumetric-video-92038322099#" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite The Tour 2020" title="Microsoft Ignite The Tour 2020"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">BRK30163 - Applied Deep Learning: new kind of multimedia content (45min)</div>
      <div class="event-subtitle">Microsoft Ignite The Tour 2020</div>
      <p class="event-meta">January 28th, 2020 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/it-it/ignite-the-tour/milan" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite The Tour 2020" title="Microsoft Ignite The Tour 2020"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">THR30088 - Applied Deep Learning: new kind of multimedia content (15min)</div>
      <div class="event-subtitle">Microsoft Ignite The Tour 2020</div>
      <p class="event-meta">January 27th, 2020 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/it-it/ignite-the-tour/milan" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (January 2020)" title="Coding Gym Torino (January 2020)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (January 2020)</div>
        <p class="event-meta">January 14th, 2020 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0120.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events.html" class="btn btn-default btn-xs">2021</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>    
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2018.html" class="btn btn-default btn-xs">2018</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2017 and older</a>
    </div>
</div>