Title: Events Archive 2021
TranslatedRefs: it/eventi_archivio_2021.cshtml
ShowInNavbar: false
---
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events.html" class="btn btn-default btn-xs">2022</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2018 and older</a>
    </div>
</div>
<br />
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">MLOps for Dummies: From zero to ML pipelines in one click</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">December 9th, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-mlops-for-dummies-from-zero-to-ml-pipelines-in-one-click-221519680327" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=fpQxXRBzVSU" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">AR/VR/XR under the Xmas tree</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">December 2nd, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-arvrxr-under-the-xmas-tree-217582474037" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=_hmF5N346Z8" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Digital Avatars Uncovered</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">November 18th, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-digital-avatars-uncovered-212531857507" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=FBDXF0NA3pI" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">The 5 'Ws' of Machine Learning</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">October 14th, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-the-5-ws-of-machine-learning-185649632047" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=ZlbRy_49a2M" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/abitofai_s2.png" alt="A bit of AI - Season 2" title="A bit of AI - Season 2"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">A bit of AI - Gianni Rosa Gallina</div>
      <div class="event-subtitle">A bit of AI - Season 2</div>
      <p class="event-meta">September 16th, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.abitofai.show/" target="_blank">Watch</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dotNetPodcast_logo.jpg" alt="DotNet Podcast" title="DotNet Podcast"/>
    </div>
        <div class="col-md-9">
      <div class="event-title">GitHub Copilot: a new era for "Pair Programming"? (in ITALIAN)</div>
      <div class="event-subtitle">DotNet Podcast</div>
      <p class="event-meta">September 13th, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.spreaker.com/user/dotnetpodcast/github-copilot" target="_blank">Listen</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc-days-2021.png" alt="WPC Days 2021 (Artificial Intelligence)" title="WPC Days 2021 (Artificial Intelligence)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Applied Artificial Intelligence on multimedia content (in ITALIAN)</div>
      <div class="event-subtitle">WPC Days 2021 (Artificial Intelligence)</div>
      <p class="event-meta">June 30, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc-days.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/deltatrelabs/deltatre-wpc-ai-2021-demo" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Applied GitOps: secure progressive deliveries</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">June 22nd, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-applied-gitops-secure-progressive-deliveries-159854315561" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=Amk6MECG3w0" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Let's code a motorsport telemetry processing pipeline</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">May 24th, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-lets-code-a-motorsport-telemetry-processing-pipeline-155776356275" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=zFmON75w1kE" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-azure-logo2021.png" alt="Global Azure Virtual 2021 (Italian Edition)" title="Global Azure Virtual 2021 (Italian Edition)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global Azure Virtual 2021 (Italian Edition)</div>
      <p class="event-meta">April 15, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalazuretorino.welol.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=-S_Spz6ufR8" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/codemotion_2021_mlops_2.jpg" alt="Codemotion Online 2021 (Italian Edition)" title="Codemotion Online 2021 (Italian Edition)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">DevOps for Machine Learning: training and inference pipelines with MLOps (in ITALIAN)</div>
      <div class="event-subtitle">Codemotion Online 2021 (Italian Edition)</div>
      <p class="event-meta">March 23-25 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://events.codemotion.com/conferences/online/2021/online-tech-conference-italian-edition-spring" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Microsoft Mesh, Azure Percept and the other goodies</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">March 18th, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-microsoft-mesh-azure-percept-and-the-other-goodies-146313901819" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=LTtEMD57ktg" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/aiday.png" alt="A.I. Day 2021" title="A.I. Day 2021"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">MLOps, training and inference pipelines with Azure ML (in ITALIAN)</div>
      <div class="event-subtitle">A.I. Day 2021</div>
      <p class="event-meta">March 12, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://aiday.dotnetdev.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=zULUORUfT-0&t=2s" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dotNetPodcast_logo.jpg" alt="DotNet Podcast" title="DotNet Podcast"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Hardware per Machine Learning (in ITALIAN)</div>
      <div class="event-subtitle">DotNet Podcast</div>
      <p class="event-meta">March 8, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.spreaker.com/user/13243204/gpu-for-machine-learning" target="_blank">Listen</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dotNetPodcast_logo.jpg" alt="DotNet Podcast" title="DotNet Podcast"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Production-ready development for Machine Learning projects with K3AI (in ITALIAN)</div>
      <div class="event-subtitle">DotNet Podcast</div>
      <p class="event-meta">March 1st, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.spreaker.com/user/dotnetpodcast/ml-sviluppo-production-ready-con-k3ai" target="_blank">Listen</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Global-AI-Torino-2021.jpg" alt="Global AI Bootcamp 2021 Torino (Italy)" title="Global AI Bootcamp 2021 Torino (Italy)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Bootcamp 2021 Torino (Italy)</div>
      @*<div class="event-subtitle">Global AI Bootcamp 2021</div>*@
      <p class="event-meta">January 15th, 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/global-ai-bootcamp-2020/italy-torino" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=gnYWVsEbSsg" target="_blank">Youtube</a></div>
    </div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events.html" class="btn btn-default btn-xs">2022</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2018 and older</a>
    </div>
</div>