Title: Events
TranslatedRefs: it/eventi.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      I like giving talks at local user groups and national and international conferences since 2011.
      You can find upcoming events and archived past events below. If you would like to have me giving a talk at your local community event or conference, please contact me.
    </div>
</div>

<h2>Upcoming</h2>

@*<p>Currently planning new activities... but nothing to announce yet!</p>*@

<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/netconf-2022.jpg" alt=".NET Conference 2022 (Rome - Online)" title=".NET Conference 2022 (Rome - Online)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Deep Learning with ML.NET</div>
      <div class="event-subtitle">.NET Conference 2022 (Rome - Online)</div>
      <p class="event-meta">March 18th, 2022 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.dotnetconf.it/" target="_blank">Event details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=gnYWVsEbSsg" target="_blank">Youtube</a></div>*@
    </div>
</div>
<br />

<h2>Past events and sessions archive</h2>

<br />

<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-ai-2022-header.jpg" alt="Global AI Bootcamp 2022 Torino (Italy)" title="Global AI Bootcamp 2022 Torino (Italy)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Bootcamp 2022 Torino (Italy)</div>
      <p class="event-meta">January 14th, 2022 - Hybrid</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/bootcamp-2022/europe-global-ai-torino-4662/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=697eaTedmrY" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2021.html" class="btn btn-default btn-xs">2021</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2018 and older</a>
    </div>
</div>