Title: Events
TranslatedRefs: it/eventi.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      I like giving talks at local user groups and national and international conferences since 2011.
      You can find upcoming events and archived past events below. If you would like to have me giving a talk at your local community event or conference, please contact me.
    </div>
</div>

<h2>Upcoming</h2>

@*<p>Currently planning new activities... but nothing to announce yet!</p>*@

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite The Tour 2020" title="Microsoft Ignite The Tour 2020"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">BRK30163 - Applied Deep Learning: new kind of multimedia content (45min)</div>
      <div class="event-subtitle">Microsoft Ignite The Tour 2020</div>
      <p class="event-meta">January 28th, 2020 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/it-it/ignite-the-tour/milan" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite The Tour 2020" title="Microsoft Ignite The Tour 2020"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">THR30088 - Applied Deep Learning: new kind of multimedia content (15min)</div>
      <div class="event-subtitle">Microsoft Ignite The Tour 2020</div>
      <p class="event-meta">January 27th, 2020 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/it-it/ignite-the-tour/milan" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (January 2020)" title="Coding Gym Torino (January 2020)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (January 2020)</div>
        <p class="event-meta">January 14th, 2020 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0120.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>

<br />

<h2>Past events and sessions archive</h2>

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2018.html" class="btn btn-default btn-xs">2018</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2017.html" class="btn btn-default btn-xs">2017</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2016.html" class="btn btn-default btn-xs">2016 and older</a>
    </div>
</div>