Title: Events
TranslatedRefs: it/eventi.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      I like giving talks at local user groups and national and international conferences since 2011.
      You can find upcoming and some past events below. If you would like to have me giving a talk at your local community event or conference, please contact me.
    </div>
</div>

<h2>Upcoming</h2>

@*<p>Currently planning new activities... but nothing to announce yet!</p>*@

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite 2019" title="Microsoft Ignite 2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Applied Deep Learning: new kind of multimedia content</div>
      <div class="event-subtitle">Microsoft Ignite 2019</div>
      <p class="event-meta">November 4-8th, 2019 - Orlando, FL (USA)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/en-us/ignite/default.aspx" target="_blank">Event details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190523_VS2019Launch.pdf" target="_blank">Slides</a></div>*@
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite 2019" title="Microsoft Ignite 2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Sport actions recognition in video using Deep Learning at scale</div>
      <div class="event-subtitle">Microsoft Ignite 2019</div>
      <p class="event-meta">November 4-8th, 2019 - Orlando, FL (USA)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/en-us/ignite/default.aspx" target="_blank">Event details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190523_VS2019Launch.pdf" target="_blank">Slides</a></div>*@
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">.NET Conf 2019 - What's new in .NET Ecosystem</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">October 10th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20191010" target="_blank">Session details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190523_VS2019Launch.pdf" target="_blank">Slides</a></div>*@
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ai-ml-conf-2019_little.jpg" alt="AI & ML Conference" title="AI & ML Conference"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">How to implement a custom Video Indexing service</div>
      <div class="event-subtitle">AI & ML Conference</div>
      <p class="event-meta">September 27th, 2019 - Microsoft House (Milan, Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://aiconf.it/" target="_blank">Event details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190523_VS2019Launch.pdf" target="_blank">Slides</a></div>*@
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Fundamentals and use of IPv6 protocol in Windows environments</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">September 26th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190926" target="_blank">Session details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20181122_Whats%20new%20in%20Azure%20DevOps%20and%20.NET.pdf" target="_blank">Slides</a></div>*@
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (September 2019)" title="Coding Gym Torino (September 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (September 2019)</div>
        <p class="event-meta">September 16th, 2019 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0919.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<br />

<h2>Past events and sessions</h2>

<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Azure Sphere</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">June 27th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190627" target="_blank">Session details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190627_TTG-Sphere_190627_v1.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ML-MR-Header-EB.jpg" alt="Machine Learning and Mixed Reality" title="Machine Learning and Mixed Reality"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Machine Learning and Mixed Reality</div>
      <div class="event-subtitle">ItaliaDotNet, Torino Technologies Group, DotNetPodcast Meetup</div>
      <p class="event-meta">June 26th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-machine-learning-mixed-reality-62508747346" target="_blank">Session details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190523_VS2019Launch.pdf" target="_blank">Slides</a></div>*@
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (June 2019)" title="Coding Gym Torino (June 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (June 2019)</div>
        <p class="event-meta">June 17th, 2019 - Turin (Italy)</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0619.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (May 2019)" title="Coding Gym Torino (May 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (May 2019)</div>
      <p class="event-meta">May 25th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0519.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">What's new in Visual Studio 2019</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">May 23rd, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190523" target="_blank">Session details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190523_VS2019Launch.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/gab2019logo.png" alt="Microsoft Global Azure Bootcamp 2019 Torino" title="Microsoft Global Azure Bootcamp 2019 Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Where and how to use AI in a world-class multimedia OTT platform for sport</div>
      <div class="event-subtitle">Microsoft Global Azure Bootcamp 2019 Torino</div>
      <p class="event-meta">April 27th, 2019 - Torino (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://azurebootcamptorino.welol.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="/assets/files/GAB2019_AI_OTT_20190426_Final.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (March 2019)" title="Coding Gym Torino (March 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (March 2019)</div>
      <p class="event-meta">March 30th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0319.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (February 2019)" title="Coding Gym Torino (February 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (February 2019)</div>
      <p class="event-meta">February 16th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0219.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ignite-tour-milan.jpg" alt="Microsoft Ignite The Tour 2018-2019" title="Microsoft Ignite The Tour 2018-2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Where and how to use AI in a world-class multimedia OTT platform for sport (THR3208)</div>
      <div class="event-subtitle">Microsoft Ignite The Tour 2018-2019</div>
      <p class="event-meta">January 31-February 1, 2019 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/it-IT/ignite-the-tour/milan" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://sessioncatalog.myignitetour.microsoft.com/milan" target="_blank">Sessions</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (January 2019)" title="Coding Gym Torino (January 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (January 2019)</div>
      <p class="event-meta">January 19th, 2019 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0119.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-ai-mr-bootcamp.jpg" alt="Microsoft Global AI/MR Bootcamp" title="Microsoft Global AI/MR Bootcamp"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Mixing Reality & AI: WinML, ML.NET and HoloLens</div>
      <div class="event-subtitle">Microsoft Global AI/MR Bootcamp</div>
      <p class="event-meta">December 15th, 2018 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.meetup.com/DotNetToscana/events/256144284/?isFirstPublish=true" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (December 2018)" title="Coding Gym Torino (December 2018)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (December 2018)</div>
      <p class="event-meta">December 15th, 2018 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1218.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/EB-milan2018.jpg" alt="Codemotion Milan 2018" title="Codemotion Milan 2018"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Where and how can AI be used in a real-world multimedia platform for sport?</div>
      <div class="event-subtitle">Codemotion Milan 2018</div>
      <p class="event-meta">November 29th-30th, 2018 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://milan2018.codemotionworld.com/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://milan2018.codemotionworld.com/talk-detail/?detail=9341" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc2018.jpg" alt="WPC 2018" title="WPC 2018"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Dove e come si può usare AI in una piattaforma OTT per lo sport</div>
      <div class="event-subtitle">WPC 2018</div>
      <p class="event-meta">November 27th-29th, 2018 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://wpc2018.it/cms/it-IT/Home" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc2018.it/cms/it-IT/Sessioni" target="_blank">Session details</a></div>
    </div> 
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">What's new in Azure DevOps and .NET</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">Nov 22nd, 2018 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20181122" target="_blank">Session details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20181122_Whats%20new%20in%20Azure%20DevOps%20and%20.NET.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (November 2018)" title="Coding Gym Torino (November 2018)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (November 2018)</div>
      <p class="event-meta">November 17th, 2018 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1118.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (September 2018)" title="Coding Gym Torino (September 2018)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (September 2018)</div>
      <p class="event-meta">September 29th, 2018 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Official website</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0918.eventbrite.it/" target="_blank">Event details and registration</a></div>
    </div>
</div>
<hr/>
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/insiderdevtourbanner_499x130.jpg" alt="Microsoft Insider Dev Tour 2018" title="Microsoft Insider Dev Tour 2018"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Build Mixed Reality Apps</div>
      <div class="event-subtitle">Microsoft Insider Dev Tour 2018</div>
      <p class="event-meta">June 12th, 2018 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://insiderdevtour.com/" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Intro to Microsoft AI platform and demo with Cognitive Services</div>
      <div class="event-subtitle">Torino Technologies Group Monthly Meeting</div>
      <p class="event-meta">Dec 14th, 2017 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20171214" target="_blank">Session details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20171214_Microsoft%20AI%20Platform.pdf" target="_blank">Slides</a></div>      
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc_logo-header_500x69.jpg" alt="WPC 2017" title="WPC 2017"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Let's explore our data using Microsoft AI platform</div>
      <div class="event-subtitle">WPC 2017</div>
      <p class="event-meta">Nov 30th, 2017 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc2017.it/cms/it-IT/SpeakerPage?parameters%5B0%5D=70&parameters%5B0%5D=70" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/turn_into_coders_logo.jpg" alt="TurnIntoCoders" title="TurnIntoCoders"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Show &amp; Tell: experiments with VR/MR</div>
      <div class="event-subtitle">TurnIntoCoders</div>
      <p class="event-meta">Nov 24th, 2017 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://turnintocoders.it/en/index.html" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/msignite_techcmu_joinsession_01_fb_499x262.jpg" alt="Microsoft Ignite 2017" title="Microsoft Ignite 2017"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Delivering an over-the-top TV platform using Microsoft Azure</div>
      <div class="event-subtitle">Microsoft Ignite 2017</div>
      <p class="event-meta">Sept 27th, 2017 - Orlando, FL (USA)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://myignite.microsoft.com/sessions/55873" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/xamarin_dev_day_2017.png" alt="Xamarin Dev Days - Torino" title="Xamarin Dev Days - Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Cross-platform app development with Xamarin + Hands-on lab</div>
      <div class="event-subtitle">Xamarin Dev Days</div>
      <p class="event-meta">June 8th, 2017 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://ti.to/xamarin/dev-days-torino-2017/en" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/uefa_ddd2017.jpg" alt="UEFA Digital Dev Day 2017" title="UEFA Digital Dev Day 2017"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Virtual and Augmented Reality Experiments in Deltatre</div>
      <div class="event-subtitle">UEFA Digital Dev Day 2017</div>
      <p class="event-meta">May 30th, 2017 - Nyon (Switzerland)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.linkedin.com/pulse/uefa-digital-developer-day-sachin-mehrish/" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/logo_droidcon_500x250.jpg" alt="Droidcon Italy 2017" title="Droidcon Italy 2017"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Cross-platform mobile apps development with .NET and Xamarin</div>
      <div class="event-subtitle">Droidcon Italy 2017</div>
      <p class="event-meta">April 6th, 2017 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://it.droidcon.com/2017/sessions/your-first-steps-into-virtual-reality/" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/locandina_499x249.jpg" alt="Sognando la Realtà - GDG Torino" title="Sognando la Realtà - GDG Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Workshop: introduction to Virtual Reality for Android</div>
      <div class="event-subtitle">Sognando la Realtà - GDG Torino</div>
      <p class="event-meta">February 2nd, 2017 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/registrazione-sognando-la-realta-30484224135?aff=mcivte#" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/20160923_174125_hdr_498x280.jpg" alt="Holo Dev Day" title="Holo Dev Day"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Introduction to Unity xR development + Hands-on lab</div>
      <div class="event-subtitle">Holo Dev Day (DotNetLombardia meetup)</div>
      <p class="event-meta">January 21st, 2017 - Milan (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.meetup.com/it-IT/DotNetLombardia/events/234022057/" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/supernova2016_495x165.jpg" alt="Supernova Festival" title="Supernova Festival"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Workshop: tools for VR games development</div>
      <div class="event-subtitle">Supernova Festival, the innovation and creativity fair</div>
      <p class="event-meta">October 1st, 2016 - Brescia (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="brescia.festivalsupernova.it/class/studiare-per-lavorare-le-nuove-professioni-del-digitale-3/" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dtc_logo.jpg" alt="Disruptive Technologies Conference" title="Disruptive Technologies Conference"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Introduction to "the" realities</div>
      <div class="event-subtitle">Disruptive Technologies Conference</div>
      <p class="event-meta">September 23rd, 2016 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.immotionar.com/en/blog/2016/august/31/join-us-at-the-disruptive-technologies-conference/" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/iotconfnapoli2016.png" alt="IoT Conference 2016" title="IoT Conference 2016"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Introduction to VR and ImmotionRoom</div>
      <div class="event-subtitle">IoT Conference 2016</div>
      <p class="event-meta">May 7th, 2016 - Naples (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="www.dotnetcampania.org/Events/Index/a01d3243-ce16-4259-9941-fb5e3de30119" target="_blank">Session details</a></div>
    </div>
</div>
