Title: Events
TranslatedRefs: it/eventi.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      I like giving talks at local user groups and national and international conferences since 2011.
      You can find upcoming events and archived past events below. If you would like to have me giving a talk at your local community event or conference, please contact me.
    </div>
</div>

<h2>Upcoming</h2>

@*<p>Currently planning new activities... but nothing to announce yet!</p>*@

<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-ai-conf_logo.jpg" alt="Global AI Conference 2023" title="Global AI Conference 2023"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Generative AI Unleashed: crafting voices and music from text & images</div>
      <div class="event-subtitle">Global AI Conference 2023, online</div>
      <p class="event-meta">December 12th, 2023</p>
            <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/conference/" target="_blank">Event details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/registrazione-ai-day-2023-729276966037" target="_blank">Registration</a></div>*@
    </div>
</div>
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc-days-2021.png" alt="WPC 2023 - Milan, Italy" title="WPC 2023 - Milan, Italy"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Implementing Generative AI leveraging open-source models (in Italian)</div>
      <div class="event-subtitle">WPC 2023 - Milan (Italy)</div>
      <p class="event-meta">November 29th, 2023</p>
            <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc.education/?mtm_campaign=WPC_2023&mtm_kwd=Speaker&mtm_source=Social_MVP&mtm_content=giannirosagallina" target="_blank">Event details</a></div>
            <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc.education/ticket?mtm_campaign=WPC_2023&mtm_kwd=Speaker&mtm_source=Social_MVP&mtm_content=giannirosagallina" target="_blank">Registration</a></div>
    </div>
</div>
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/aiday.png" alt="AI Day 2023 - Rome, Italy" title="AI Day 2023 - Rome, Italy"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Generative AI Landscape: From Popular Services to DIY Solutions on Azure (in Italian)</div>
      <div class="event-subtitle">AI Day 2023 - Rome (Italy)</div>
      <p class="event-meta">November 24th, 2023</p>
            <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://aiday.dotnetdev.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/registrazione-ai-day-2023-729276966037" target="_blank">Registration</a></div>
    </div>
</div>
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-ai-notes_logo.jpg" alt="Global AI Notes, November 13th, 2023" title="Global AI Notes, November 13th, 2023"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Generative AI Landscape: from popular services to open-source alternatives</div>
      <div class="event-subtitle">Global AI Notes, online</div>
      <p class="event-meta">November 13th, 2023</p>
            <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/video/global-ai-notes/" target="_blank">Event details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/registrazione-ai-day-2023-729276966037" target="_blank">Registration</a></div>*@
    </div>
</div>

@*<hr />*@

<br />

<h2>Past events and sessions archive</h2>
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/AzureDayLogoYellow.png" alt="Azure Day Torino 2023 - Italy" title="Azure Day Torino 2023 - Italy"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Generative AI Landscape: From Popular Services to DIY Solutions on Azure (in Italian)</div>
      <div class="event-subtitle">Azure Day Torino 2023 - Italy</div>
      <p class="event-meta">October 14th, 2023</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.azureday.it/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/registrazione-azure-day-torino-2023-608538704647" target="_blank">Registration</a></div>
    </div>
</div>
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global_azure_2023.png" alt="Global Azure 2023 Torino - Italy" title="Global Azure 2023 Torino - Italy"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Generative AI Beyond the Hype: leveraging less-discussed models, frameworks, and tools on your own</div>
      <div class="event-subtitle">Global Azure 2023 Torino - Italy</div>
      <p class="event-meta">May 13th, 2023</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalazuretorino.welol.it/" target="_blank">Event details</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.nvidia.com/gtc/?ncid=ref-dev-171762-Deltatre" target="_blank">Registrazione</a></div>*@
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://sessionize.com/global-azure-torino-2023/" target="_blank">Call for Speaker</a></div>*@
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=697eaTedmrY" target="_blank">Youtube</a></div>*@
    </div>
</div>
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ugidotnet-square-400x400.png" alt="UGIdotNET - Small Talks" title="UGIdotNET - Small Talks"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">The lesser-known sides of Generative AI: a look into open-source models and toolkits</div>
      <div class="event-subtitle">UGIdotNET - Small Talks (online)</div>
      <p class="event-meta">May 4th, 2023 (5-6PM CET)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.ugidotnet.org/tv/episodio/3174/Small-Talks/Generative-AI-a-look-into-open-source-models-and-toolkits" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=B9eh0Y4wb5g" target="_blank">Youtube</a></div>
    </div>
</div>
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/nvidia-gtc23-square.jpg" alt="NVIDIA GTC 2023 (Online)" title="NVIDIA GTC 2023 (Online)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">3D Synthetic Data: Simplifying and Accelerating the Training of Vision AI Models for Industrial Workflows (in Italiano)</div>
      <div class="event-subtitle">NVIDIA GTC 2023 (Online)</div>
      <p class="event-meta">March 23rd, 2023</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i>Recording not available</div>
    </div>
</div>
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-ai-2023-header.jpg" alt="Global AI Bootcamp 2023 Torino (Italy)" title="Global AI Bootcamp 2023 Torino (Italy)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Bootcamp 2023 Torino (Italy)</div>
      <p class="event-meta">March 4th, 2023</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/bootcamp-2023/europe-global-ai-torino-5658/" target="_blank">Event details</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-global-ai-bootcamp-2023-torino-italy-533520763967" target="_blank">Registration</a></div>
      @*<div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://sessionize.com/global-ai-bootcamp-2023-torino-italy/" target="_blank">Call for Speaker</a></div>*@
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=Wuz-E53onhw&list=PL6vUc9GnRFV_wJUL4rFENuXc_8MLT57wE" target="_blank">Youtube</a></div>
    </div>
</div>

<hr />
<br />
<div class="row event">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2022.html" class="btn btn-default btn-xs">2022</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2021.html" class="btn btn-default btn-xs">2021</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_older.html" class="btn btn-default btn-xs">2019 and older</a>
    </div>
</div>