Title: Events Archive 2016
TranslatedRefs: it/eventi_archivio_2016.cshtml
ShowInNavbar: false
---
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2018.html" class="btn btn-default btn-xs">2018</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2017.html" class="btn btn-default btn-xs">2017</a>
    </div>
</div>
<br />
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/supernova2016_495x165.jpg" alt="Supernova Festival" title="Supernova Festival"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Workshop: tools for VR games development</div>
      <div class="event-subtitle">Supernova Festival, the innovation and creativity fair</div>
      <p class="event-meta">October 1st, 2016 - Brescia (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="brescia.festivalsupernova.it/class/studiare-per-lavorare-le-nuove-professioni-del-digitale-3/" target="_blank">Session details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dtc_logo.jpg" alt="Disruptive Technologies Conference" title="Disruptive Technologies Conference"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Introduction to "the" realities</div>
      <div class="event-subtitle">Disruptive Technologies Conference</div>
      <p class="event-meta">September 23rd, 2016 - Turin (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.immotionar.com/en/blog/2016/august/31/join-us-at-the-disruptive-technologies-conference/" target="_blank">Event details</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/iotconfnapoli2016.png" alt="IoT Conference 2016" title="IoT Conference 2016"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Introduction to VR and ImmotionRoom</div>
      <div class="event-subtitle">IoT Conference 2016</div>
      <p class="event-meta">May 7th, 2016 - Naples (Italy)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="www.dotnetcampania.org/Events/Index/a01d3243-ce16-4259-9941-fb5e3de30119" target="_blank">Session details</a></div>
    </div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2018.html" class="btn btn-default btn-xs">2018</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/en/events_archive_2017.html" class="btn btn-default btn-xs">2017</a>
    </div>
</div>