Title: Projects
TranslatedRefs: it/progetti.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      Here you can find some of the projects I work on (or I did in the past), besides my daily job. If you would like to have more information or give feedback, please drop me an e-mail.
    </div>
</div>

<h2>Open-source</h2>

<div class="row">
    <div class="col-md-12 text-center">
      <img class="share-img" src="/assets/images/github.png" alt="GitHub" title="GitHub" />
      <a href="https://github.com/gianni-rg" target="_blank">My GitHub repositories</a>
    </div>
</div>
