Title: Corsi
TranslatedRefs: en/courses.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      Qui trovate i corsi online che ho pubblicato. Se volete maggiori informazioni o dare suggerimenti, scrivetemi una e-mail.
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
      <a href="https://www.pluralsight.com/authors/gianni-rosagallina" target="_blank"><img class="event-img" src="/assets/images/pluralsight_logo.jpg" alt="Visitate il mio profilo Pluralsight Author" title="Visitate il mio profilo Pluralsight Author"/></a>
    </div>
</div>
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">Getting Started with NLP Deep Learning Using PyTorch and fastai</h3>
      <p class="event-meta">Intermedio | 2h 13m | 21 Marzo 2019</p>
      <p>Questo corso spiega come iniziare ad usare fastai e PyTorch per ottenere risultati quasi stato dell'arte con NLP Deep Learning per classificazione di testo. D&agrave; un po' di contesto teorico e fa vedere come portare i modelli in produzione.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/getting-started-nlp-deep-learning-pytorch-fastai" target="_blank">Dettagli corso</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">Getting Started with VR in Unity (deprecato)</h3>
      <p class="event-meta">Principiante | 2h 20m | 18 agosto 2015</p>
      <p>In questo tutorial per Unity, impareremo le basi per creare giochi e applicationi in realt&agrave; virtuale per Oculus Rift e Samsung Gear VR.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/getting-started-vr-unity-2227" target="_blank">Dettagli corso</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">Getting Started with Augmented Reality on Android Devices</h3>
      <p class="event-meta">Principiante | 3h 7m | 13 gennaio 2015</p>
      <p>Questo corso introduce gli sviluppatori Android ai concetti della Realt&agrave; Aumentata e come sviluppare applicazioni.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/augmented-reality-android-devices-getting-started" target="_blank">Dettagli corso</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">Building an Intelligent System: From Embedded to Cloud</h3>
      <p class="event-meta">Intermedio | 2h 30m | 5 maggio 2014</p>
      <p>Questo corso &egrave; un viaggio avanzato nelle varie fasi di sviluppo di un Intelligent System, usando Windows Embedded 8.1 Industry e Windows Azure.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/building-intelligent-system-embedded-to-cloud" target="_blank">Dettagli corso</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-9">
      <h3 class="event-title">What's new in Windows Embedded 8 Standard</h3>
      <p class="event-meta">Intermedio | 2h 36m | 11 novembre 2013</p>
      <p>Questo corso fornisce una panoramica sulle nuove funzionalit&agrave;, strumenti e cambiamenti introdotti in Windows Embedded 8 Standard, il successoro di Windows Embedded Standard 7.</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.pluralsight.com/courses/whats-new-windows-embedded8-standard" target="_blank">Dettagli corso</a></div>
    </div>
</div>