Title: Archivio eventi 2021
TranslatedRefs: en/events_archive_2021.cshtml
ShowInNavbar: false
---
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi.html" class="btn btn-default btn-xs">2022</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_vecchi.html" class="btn btn-default btn-xs">2018 e pi&ugrave; vecchi</a>
    </div>
</div>
<br />
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">MLOps for Dummies: From zero to ML pipelines in one click</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">9 Dicembre 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-mlops-for-dummies-from-zero-to-ml-pipelines-in-one-click-221519680327" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=fpQxXRBzVSU" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">AR/VR/XR under the Xmas tree</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">2 Dicembre 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-arvrxr-under-the-xmas-tree-217582474037" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=_hmF5N346Z8" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Digital Avatars Uncovered</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">18 Novembre 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-digital-avatars-uncovered-212531857507" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=FBDXF0NA3pI" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">The 5 'Ws' of Machine Learning</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">14 Ottobre 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-the-5-ws-of-machine-learning-185649632047" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=ZlbRy_49a2M" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/abitofai_s2.png" alt="A bit of AI - Stagione 2" title="A bit of AI - Stagione 2"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">A bit of AI - Gianni Rosa Gallina</div>
      <div class="event-subtitle">A bit of AI - Stagione 2</div>
      <p class="event-meta">16 Settembre 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.abitofai.show/" target="_blank">Guarda</a></div>
    </div>
</div>
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dotNetPodcast_logo.jpg" alt="DotNet Podcast" title="DotNet Podcast"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">GitHub Copilot: la nuova era del "Pair Programming"?</div>
      <div class="event-subtitle">DotNet Podcast</div>
      <p class="event-meta">13 Settembre 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.spreaker.com/user/dotnetpodcast/github-copilot" target="_blank">Ascolta</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc-days-2021.png" alt="WPC Days 2021 (Intelligenza Artificiale)" title="WPC Days 2021 (Intelligenza Artificiale)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Intelligenza Artificiale applicata a contenuti multimediali</div>
      <div class="event-subtitle">WPC Days 2021 (Intelligenza Artificiale)</div>
      <p class="event-meta">30 Giugno 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc-days.it/" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/deltatrelabs/deltatre-wpc-ai-2021-demo" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Applied GitOps: secure progressive deliveries</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">22 Giugno 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-applied-gitops-secure-progressive-deliveries-159854315561" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=Amk6MECG3w0" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Let's code a motorsport telemetry processing pipeline</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">24 Maggio 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-lets-code-a-motorsport-telemetry-processing-pipeline-155776356275" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=zFmON75w1kE" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-azure-logo2021.png" alt="Global Azure Virtual 2021 (Italian Edition)" title="Global Azure Virtual 2021 (Italian Edition)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global Azure Virtual 2021 (Italian Edition)</div>
      <p class="event-meta">15 Aprile 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalazuretorino.welol.it/" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=-S_Spz6ufR8" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/codemotion_2021_mlops_2.jpg" alt="Codemotion Online 2021 (Italian Edition)" title="Codemotion Online 2021 (Italian Edition)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">DevOps per Machine Learning: training e inference pipelines con MLOps</div>
      <div class="event-subtitle">Codemotion Online 2021 (Italian Edition)</div>
      <p class="event-meta">23-25 Marzo 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://events.codemotion.com/conferences/online/2021/online-tech-conference-italian-edition-spring" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/d3ila_meetup.jpg" alt="Deltatre Innovation Lab Academy webinar series" title="Deltatre Innovation Lab Academy webinar series"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Microsoft Mesh, Azure Percept and the other goodies</div>
      <div class="event-subtitle">Deltatre Innovation Lab - Fireside chats</div>
      <p class="event-meta">18 Marzo 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-microsoft-mesh-azure-percept-and-the-other-goodies-146313901819" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=LTtEMD57ktg" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/aiday.png" alt="A.I. Day 2021" title="A.I. Day 2021"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">MLOps, training e inference pipelines con Azure ML</div>
      <div class="event-subtitle">A.I. Day 2021</div>
      <p class="event-meta">12 Marzo 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://aiday.dotnetdev.it/" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=zULUORUfT-0&t=2s" target="_blank">Youtube</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dotNetPodcast_logo.jpg" alt="DotNet Podcast" title="DotNet Podcast"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Hardware per Machine Learning</div>
      <div class="event-subtitle">DotNet Podcast</div>
      <p class="event-meta">8 Marzo 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.spreaker.com/user/13243204/gpu-for-machine-learning" target="_blank">Ascolta</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/dotNetPodcast_logo.jpg" alt="DotNet Podcast" title="DotNet Podcast"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Sviluppo production ready per progetti di Machine Learning con K3AI</div>
      <div class="event-subtitle">DotNet Podcast</div>
      <p class="event-meta">1 Marzo 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.spreaker.com/user/dotnetpodcast/ml-sviluppo-production-ready-con-k3ai" target="_blank">Ascolta</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Global-AI-Torino-2021.jpg" alt="Global AI Bootcamp 2021 Torino (Italy)" title="Global AI Bootcamp 2021 Torino (Italy)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Bootcamp 2021 Torino (Italy)</div>
      @*<div class="event-subtitle">Global AI Bootcamp 2021</div>*@
      <p class="event-meta">15 Gennaio 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/global-ai-bootcamp-2020/italy-torino" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=gnYWVsEbSsg" target="_blank">Youtube</a></div>
    </div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi.html" class="btn btn-default btn-xs">2022</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_vecchi.html" class="btn btn-default btn-xs">2018 e pi&ugrave; vecchi</a>
    </div>
</div>