Title: Archivio eventi 2019
TranslatedRefs: en/events_archive_2019.cshtml
ShowInNavbar: false
---
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2018.html" class="btn btn-default btn-xs">2018</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2017.html" class="btn btn-default btn-xs">2017</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2016.html" class="btn btn-default btn-xs">2016 e pi&ugrave; vecchi</a>
    </div>
</div>
<br />
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Dicembre 2019)" title="Coding Gym Torino (Dicembre 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (Dicembre 2019)</div>
        <p class="event-meta">16 Dicembre 2019 - Torino</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1219.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Global-AI-Torino-Header_2160x1080.jpg" alt="Global AI Bootcamp Torino" title="Global AI Bootcamp Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Bootcamp Torino</div>
      <div class="event-subtitle"></div>
      <p class="event-meta">14 dicembre 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.com/e/biglietti-global-ai-bootcamp-2019-torino-75673249727" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc2019.png" alt="WPC 2019" title="WPC 2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Mixed Reality: volumetric capture con Azure Kinect</div>
      <div class="event-subtitle">WPC 2019</div>
      <p class="event-meta">3-5 dicembre 2019 - Milano (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc2019.it/cms/it-IT/Home" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Novembre 2019)" title="Coding Gym Torino (Novembre 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (Novembre 2019)</div>
        <p class="event-meta">26 Novembre 2019 - Torino</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1119.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Global-MR-Torino-Header_1200x628.jpg" alt="Global Mixed Reality Bootcamp Torino" title="Global Mixed Reality Bootcamp Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global Mixed Reality Bootcamp Torino</div>
      <div class="event-subtitle"></div>
      <p class="event-meta">16 novembre 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.com/e/biglietti-global-mr-bootcamp-2019-torino-75676118307" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite 2019" title="Microsoft Ignite 2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">THR2050 - Sport actions recognition in video using Deep Learning at scale</div>
      <div class="event-subtitle">Microsoft Ignite 2019</div>
      <p class="event-meta">7 novembre 2019 - Orlando, FL (USA)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/en-us/ignite/default.aspx" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/MSFT_Ignite_2019_Asset_Little.jpg" alt="Microsoft Ignite 2019" title="Microsoft Ignite 2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">THR3001 - Applied Deep Learning: new kind of multimedia content</div>
      <div class="event-subtitle">Microsoft Ignite 2019</div>
      <p class="event-meta">4 novembre 2019 - Orlando, FL (USA)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/en-us/ignite/default.aspx" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Ottobre 2019)" title="Coding Gym Torino (Ottobre 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (Ottobre 2019)</div>
        <p class="event-meta">15 Ottobre 2019 - Torino</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1019.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">.NET Conf 2019 - What's new in .NET Ecosystem</div>
      <div class="event-subtitle">Torino Technologies Group (incontro mensile)</div>
      <p class="event-meta">10 ottobre 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20191010" target="_blank">Dettagli sessione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ai-ml-conf-2019_little.jpg" alt="AI & ML Conference" title="AI & ML Conference"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Come implementare un servizio di Video Indexing ad-hoc</div>
      <div class="event-subtitle">AI & ML Conference</div>
      <p class="event-meta">27 settembre 2019 - Microsoft House (Milano, Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://aiconf.it/" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Fondamenti e uso del protocollo IPv6 in ambiente Windows</div>
      <div class="event-subtitle">Torino Technologies Group (incontro mensile)</div>
      <p class="event-meta">26 settembre 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190926" target="_blank">Dettagli sessione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Settembre 2019)" title="Coding Gym Torino (Settembre 2019)"/>
    </div>
    <div class="col-md-9">
    <div class="event-title">Coding Gym Torino (Settembre 2019)</div>
        <p class="event-meta">16 settembre 2019 - Torino</p>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
        <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0919.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Azure Sphere</div>
      <div class="event-subtitle">Torino Technologies Group (incontro mensile)</div>
      <p class="event-meta">27 giugno 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190627" target="_blank">Dettagli sessione</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190627_TTG-Sphere_190627_v1.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ML-MR-Header-EB.jpg" alt="Machine Learning e Mixed Reality" title="Machine Learning e Mixed Reality"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Machine Learning e Mixed Reality</div>
      <div class="event-subtitle">Incontro ItaliaDotNet, Torino Technologies Group, DotNetPodcast</div>
      <p class="event-meta">26 giugno 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.eventbrite.it/e/biglietti-machine-learning-mixed-reality-62508747346" target="_blank">Dettagli sessione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Giugno 2019)" title="Coding Gym Torino (Giugno 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (Giugno 2019)</div>
      <p class="event-meta">17 giugno 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0619.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Maggio 2019)" title="Coding Gym Torino (Maggio 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (Maggio 2019)</div>
      <p class="event-meta">25 maggio 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0519.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Le novità di Visual Studio 2019</div>
      <div class="event-subtitle">Torino Technologies Group (incontro mensile)</div>
      <p class="event-meta">23 maggio 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20190523" target="_blank">Dettagli sessione</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20190523_VS2019Launch.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/gab2019logo.png" alt="Microsoft Global Azure Bootcamp 2019 Torino" title="Microsoft Global Azure Bootcamp 2019 Torino"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Dove e come si può usare AI in una piattaforma OTT per lo sport</div>
      <div class="event-subtitle">Microsoft Global Azure Bootcamp 2019 Torino</div>
      <p class="event-meta">27 aprile 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://azurebootcamptorino.welol.it/" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="/assets/files/GAB2019_AI_OTT_20190426_Final.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Marzo 2019)" title="Coding Gym Torino (Marzo 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (Marzo 2019)</div>
      <p class="event-meta">30 marzo, 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0319.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Febbraio 2019)" title="Coding Gym Torino (Febbraio 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (Febbraio 2019)</div>
      <p class="event-meta">16 febbraio, 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0219.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/ignite-tour-milan.jpg" alt="Microsoft Ignite The Tour 2018-2019" title="Microsoft Ignite The Tour 2018-2019"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Where and how to use AI in a world-class multimedia OTT platform for sport (THR3208)</div>
      <div class="event-subtitle">Microsoft Ignite The Tour 2018-2019</div>
      <p class="event-meta">31 gennaio-1 febbraio, 2019 - Milano (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.microsoft.com/it-it/ignite-the-tour/milan" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://sessioncatalog.myignitetour.microsoft.com/milan" target="_blank">Agenda sessioni</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Gennaio 2019)" title="Coding Gym Torino (Gennaio 2019)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (Gennaio 2019)</div>
      <p class="event-meta">19 gennaio, 2019 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0119.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>

<br />
<hr />
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2018.html" class="btn btn-default btn-xs">2018</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2017.html" class="btn btn-default btn-xs">2017</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2016.html" class="btn btn-default btn-xs">2016 e pi&ugrave; vecchi</a>
    </div>
</div>