Title: Archivio eventi 2018
TranslatedRefs: en/events_archive_2018.cshtml
ShowInNavbar: false
---
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2017.html" class="btn btn-default btn-xs">2017</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2016.html" class="btn btn-default btn-xs">2016 e pi&ugrave; vecchi</a>
    </div>
</div>
<br />
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/global-ai-mr-bootcamp.jpg" alt="Microsoft Global AI/MR Bootcamp" title="Microsoft Global AI/MR Bootcamp"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Mixing Reality & AI: WinML, ML.NET e HoloLens</div>
      <div class="event-subtitle">Microsoft Global AI/MR Bootcamp</div>
      <p class="event-meta">15 dicembre, 2018 - Milano (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.meetup.com/DotNetToscana/events/256144284/?isFirstPublish=true" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Dicembre 2018)" title="Coding Gym Torino (Dicembre 2018)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (Dicembre 2018)</div>
      <p class="event-meta">15 dicembre, 2018 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1218.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/EB-milan2018.jpg" alt="Codemotion Milano 2018" title="Codemotion Milano 2018"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Dove e come l'AI pu&ograve; essere usata in una piattaforma multimediale sportiva?</div>
      <div class="event-subtitle">Codemotion Milano 2018</div>
      <p class="event-meta">29-30 Novembre, 2018 - Milano (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://milan2018.codemotionworld.com/" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://milan2018.codemotionworld.com/talk-detail/?detail=9341" target="_blank">Dettagli sessione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/wpc2018.jpg" alt="WPC 2018" title="WPC 2018"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Dove e come si può usare AI in una piattaforma OTT per lo sport</div>
      <div class="event-subtitle">WPC 2018</div>
      <p class="event-meta">27-29 Novembre, 2018 - Milano (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://wpc2018.it/cms/it-IT/Home" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.wpc2018.it/cms/it-IT/Sessioni" target="_blank">Dettagli sessione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Windows-Live-Writer_TTG-Event--Windows-Phone-8_13DE4_TTG_Logo_trasp_thumb.png" alt="Torino Technologies Group" title="Torino Technologies Group"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Le novit&agrave; di Azure DevOps e .NET</div>
      <div class="event-subtitle">Torino Technologies Group (incontro mensile)</div>
      <p class="event-meta">22 novembre 2018 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.torinotechnologiesgroup.it/eventi/20181122" target="_blank">Dettagli sessione</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://github.com/torinotechnologiesgroup/docs/raw/master/20181122_Whats%20new%20in%20Azure%20DevOps%20and%20.NET.pdf" target="_blank">Slides</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Novembre 2018)" title="Coding Gym Torino (Novembre 2018)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (Novembre 2018)</div>
      <p class="event-meta">17 novembre 2018 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to1118.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/CodingGym-Logo.png" alt="Coding Gym Torino (Settembre 2018)" title="Coding Gym Torino (Settembre 2018)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Coding Gym Torino (Settembre 2018)</div>
      <p class="event-meta">29 settembre 2018 - Torino (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym.org/" target="_blank">Sito ufficiale</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://coding-gym-to0918.eventbrite.it/" target="_blank">Dettagli evento e registrazione</a></div>
    </div>
</div>
<hr />
<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/insiderdevtourbanner_499x130.jpg" alt="Microsoft Insider Dev Tour 2018" title="Microsoft Insider Dev Tour 2018"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Build Mixed Reality Apps</div>
      <div class="event-subtitle">Microsoft Insider Dev Tour 2018</div>
      <p class="event-meta">12 giugno 2018 - Milano (Italia)</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://insiderdevtour.com/" target="_blank">Dettagli evento</a></div>
    </div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2017.html" class="btn btn-default btn-xs">2017</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2016.html" class="btn btn-default btn-xs">2016 e pi&ugrave; vecchi</a>
    </div>
</div>
