Title: Eventi
TranslatedRefs: en/events.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      Mi piace parlare in user group locali e in conferenze nazionali e internazionali dal 2011.
      Potete vedere gli eventi futuri e l'archivio di quelli passati qui sotto. Se foste interessati ad avermi come speaker in un evento della vostra community locale o conferenza, contattatemi.
    </div>
</div>

<h2>Prossimi eventi</h2>

@*<p>Sto pianificando nuove attivit&agrave;... ma ancora nulla da annunciare!</p>*@

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/codemotion_2021_mlops_2.jpg" alt="Codemotion Online 2021 (Italian Edition)" title="Codemotion Online 2021 (Italian Edition)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">DevOps per Machine Learning: training e inference pipelines con MLOps</div>
      <div class="event-subtitle">Codemotion Online 2021 (Italian Edition)</div>
      <p class="event-meta">23-25 Marzo 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://events.codemotion.com/conferences/online/2021/online-tech-conference-italian-edition-spring" target="_blank">Dettagli evento</a></div>
    </div>
</div>

<br />

<h2>Archivio eventi e sessioni passate</h2>

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <img class="event-img" src="/assets/images/Global-AI-Torino-2021.jpg" alt="Global AI Bootcamp 2021 Torino (Italy)" title="Global AI Bootcamp 2021 Torino (Italy)"/>
    </div>
    <div class="col-md-9">
      <div class="event-title">Global AI Bootcamp 2021 Torino (Italy)</div>
      @*<div class="event-subtitle">Global AI Bootcamp 2021</div>*@
      <p class="event-meta">15 Gennaio 2021 - Online</p>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://globalai.community/global-ai-bootcamp-2020/italy-torino" target="_blank">Dettagli evento</a></div>
      <div class="event-extra"><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=gnYWVsEbSsg" target="_blank">Youtube</a></div>
    </div>
</div>

<br />

<div class="row event">
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2020.html" class="btn btn-default btn-xs">2020</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2019.html" class="btn btn-default btn-xs">2019</a>
    </div>
    <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_2018.html" class="btn btn-default btn-xs">2018</a>
    </div>
     <div class="col-md-3 text-center">
        <a role="button" href="/it/eventi_archivio_vecchi.html" class="btn btn-default btn-xs">2017 e pi&ugrave; vecchi</a>
    </div>
</div>
