Title: Chi sono
TranslatedRefs: en/about.cshtml
---
<div class="row">
    <div class="col-md-2 text-center" style="float: right">
        <img class="about-img" style="border-radius: 10%;" src="/assets/images/profile_mvp.jpg" alt="Gianni Rosa Gallina" title="Gianni Rosa Gallina" />
    </div>
    <div class="col-md-10">
        <p><strong>Gianni Rosa Gallina</strong> &egrave; un <em>Ingegnere Informatico</em> italiano. Attualmente &egrave; <strong>R&amp;D Technical Lead</strong> nell'<strong><a href="https://www.deltatre.com" target="_blank">Innovation Lab di Deltatre</a></strong>, leader mondiale per servizi multimediali per sport business e broadcasting, focalizzato su <strong>AI, Virtual/Augmented/Mixed Reality e altre strabilianti tecnologie emergenti</strong>, sperimentando e prototipando le future esperienze multimediali per lo sport.</p>
        <p>E' <a href="https://www.pluralsight.com/authors/gianni-rosagallina" target="_blank"><strong>Pluralsight Author</strong></a> dal 2013 e si &egrave; laureato in <em>Ingegneria Informatica</em> al <strong>Politecnico di Torino</strong> nel 2009.</p>
        <p>Ha pi&ugrave; di 12 anni di esperienza con le <strong>tecnologie Microsoft</strong>. Ha lavorato come <em>Software Architect e Consulente</em> per <strong><a href="https://www.bepseng.it" target="_blank">BEPS Engineering</a></strong> dal 2007 al 2017, e dal 2014 ha cercato di cambiare il mondo della Realt&agrave; Virtuale con la sua startup <a href="https://www.immotionar.com" target="_blank"><strong>Immotionar</strong></a>, progettando una fantastica soluzione multi-piattaforma e facile da usare (<em>ImmotionRoom</em>) per muoversi in maniera naturale all'interno di mondi virtuali, potendo interagire con tutto il corpo. I suoi sogni sono finiti all'inizio del 2017, ma le sue visioni innovative sono pi&ugrave; vive cha mai.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <img class="about-img" style="margi-top: 0px; margin-right: 20px;" src="/assets/images/ms-mvp-logo.png" alt="Microsoft Most Valuable Professional"  />
    </div>
    <div class="col-md-8">
        <p>Dal 2011 &egrave; stato riconosciuto e premiato come <strong>Microsoft MVP</strong> nella categoria <strong>Windows Development</strong> (inizialmente <strong>Embedded/IoT</strong>), e dal 2020 premiato anche nella <strong>categoria AI</strong>. Nel 2011 ha vinto il secondo premio a livello mondiale nella competizione internazionale <em>Microsoft Embedded Spark</em></p>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <p>Possiede un certo numero di certificazioni, ottenute nel corso degli anni:</p>
        <p><strong>Microsoft Certified Azure Data Scientist Associate</strong></p>
        <p><strong>Microsoft Certified Azure AI Engineer Associate</strong></p>
        <p><strong>Unity 3D Certified Programmer</strong></p>
        <p><strong>App Builder</strong> <em>Microsoft Certified Solutions Developer</em>:</p>
        <ul>
            <li><strong>Windows Store Apps using C#</strong></li>
            <li><strong>Web Applications</strong></li>
        </ul>
        <p><em>Microsoft Specialist</em> in:</p>
        <ul>
            <li><strong>Programming in C#</strong></li>
            <li><strong>Programming in HTML5 with JavaScript and CSS3<br /></strong></li>
        </ul>
        <p><em>Microsoft Certified Technology Specialist</em> per:</p>
        <ul>
            <li><strong>Windows Embedded CE 6.0</strong></li>
            <li><strong>Windows Mobile 6.5</strong></li>
            <li><strong>Windows Embedded Standard 7</strong></li>
            <li><strong>.NET Framework 4 Applications</strong></li>
        </ul>
    </div>
    <div class="col-md-5 text-center" style="float: right;">
        <img class="about-img" src="/assets/images/ms-cert-azure-data-scientist.png" alt="Microsoft Certified Azure Data Scientist Associate" title="Microsoft Certified Azure Data Scientist" />
        <img class="about-img" src="/assets/images/ms-cert-azure-ai-engineer.png" alt="Microsoft Certified Azure AI Engineer Associate" title="Microsoft Certified Azure AI Engineer" />
        <img class="about-img" src="/assets/images/unity-certified-programmer.png" alt="Unity Certified Programmer" title="Unity Certified Programmer" /><br />
        <img class="about-img" src="/assets/images/ms-cert-mcsd-app-builder.png" alt="Microsoft Certified Solutions Developer" title="Microsoft Certified Solutions Developer" />
        <img class="about-img" src="/assets/images/ms-cert-mcsa-web.png" alt="Microsoft Certified Solutions Associate" title="Microsoft Certified Solutions Associate" />
        <img class="about-img" src="/assets/images/ms-cert-specialist.png" alt="Microsoft Specialist" title="Microsoft Specialist" />
        <img class="about-img" src="/assets/images/ms-cert-ts.png" alt="Microsoft Certified Technology Specialist" title="Microsoft Certified Technology Specialist" /> 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Al di l&agrave; del focus sulle ultime tecnologie, algoritmi e dispositivi, &egrave; anche sul pezzo per quanto riguarda lo sviluppo di <strong>Windows Apps</strong>, cross-platform mobile apps con <strong>Xamarin</strong> e il cloud, con progetti che usano servizi <strong>Microsoft Azure</strong> (Functions, Media Services, apps, big data).</p>
        <p>Gianni &egrave; stato anche <strong>istruttore</strong><em> per Windows Embedded CE 6.0, Windows Embedded Standard 7</em> e <em>Windows Embedded 8 Standard</em>. In aggiunta ai corsi ufficiali Microsoft, ha prodotto anche corsi online per Pluralsight su <em>Windows Embedded</em>, <em>Virtual/Augmented Reality</em> e <em>Intelligenza Artificiale</em>.</p>
        <p>E' membro attivo della community locale <a href="https://www.torinotechnologiesgroup.it/" target="_blank" title="TTG - Torino Technologies Group"><strong>TTG - Torino Technologies Group</strong></a>, organizzatore e allenatore di <a href="https://www.coding-gym.org/" target="_blank" title="Coding Gym Torino"><strong>Coding Gym Torino</strong></a> e periodicamente &egrave; speaker in eventi nazionali e internazionali (come WPC, Community Days, Microsoft Ignite, Droidcon, Codemotion, ecc. per nominarne alcuni).</p>
        <p>Gianni ha interessi e conoscenze che coprono quasi tutte le aree IT. Ha solide basi di programmazione in <strong>C#</strong>, <strong>C/C++</strong>, <strong>Python</strong> per data-science e machine learning, basi di <strong>Java</strong> (Android), basi di <strong>Visual Basic</strong> e buona programmazione web con <strong>HTML/CSS</strong>, <strong>JavaScript</strong>, <strong>ASP.NET MVC</strong>.</p>
        <p>I suoi interessi spaziano dalla programmazione web alla computer graphics, modellazione e animazione 3D, musica e digital processing, networking, design e user experience, film-making e video post-production, editing fotografico, videogames.</p>
        <p>Gli piace programmare, ideare, pensare idee dal nulla e come realizzarle, risolvere problemi (specialmente se altri li ritengono difficili se non impossibili da risolvere), progettare software e altre cose, provando e studiando le ultime tecnologie e trovare nuove soluzioni.</p>
        <p>Le abilit&agrave; includono l'attitudine ad iniziative personali, auto-didatta e team working. E' molto ambizioso e quando inizia qualcosa, nulla pu&ograve; fermarlo nel raggiungere gli obiettivi o i requisiti. Vuole sempre essere aggiornato su tutti gli ultimi trend tecnologici ed &egrave; assetato di conoscenza.</p>
        <p>Altri interessi includono la scienza in generale, le interazioni naturali uomo-macchina, i design patterns, la matematica, la filosofia, la fisica, le lingue straniere, i giochi di strategia, il nuoto, lo snowboarding e, soprattuto, trascorrere il tempo libero con la sua famiglia e i figli.</p>
    </div>
</div>