Title: Progetti
TranslatedRefs: en/projects.cshtml
ShowInNavbar: true
---
<div class="row">
    <div class="col-md-12">
      Qui potete trovare i progetti su cui lavoro (o su cui ho lavorato in passato), al di l&agrave; del mio lavoro quotidiano. Se voleste maggiori informazioni o per qualunque altra richiesta, mandatemi una e-mail.
    </div>
</div>

<h2>Open-source</h2>

<div class="row">
    <div class="col-md-12 text-center">
      <img class="share-img" src="/assets/images/github.png" alt="GitHub" title="GitHub" />
      <a href="https://github.com/gianni-rg" target="_blank">I miei repository su GitHub</a>
    </div>
</div>